<%- include('partials/_header') -%>
<%- include('partials/_navigation') -%>
      <!-- furnitures section start -->
      <div class="furnitures_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="furnitures_taital">Our Furniture Categories</h1>
                  <p class="furnitures_text">reader will be distracted by the readable content of a page when looking at its layout. </p>
               </div>
            </div>
            <div class="col-sm-12 mt-3 text-center">
               <button class="btn btn-md btn-primary text-white" data-toggle="modal" data-target="#addFurniture"><i class="fa fa-plus"></i><span>Add New Furniture</span></button>
            </div>
            

            <div class="furnitures_section_2 col-lg-12">
               <div class="row">
                  <div class="col-md-3">
                     <div class="hover01 column">
                        <figure><img src="images/img-1.png"></figure>
                     </div>
                     <h3 class="introduction_text">Test</h3>
                     <!-- <div class="seemore_bt"><a href="#">See More</a></div> -->
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- furnitures section end -->
      <%- include('partials/_footer') -%>

   </body>
</html>